*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

header,
main,
footer {
  max-width: 192rem;
}

.Home{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

