.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    color: blueviolet;
    margin-bottom: 20px;
}

.cards{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding:0 30px;
}
.card{
    border: 1px solid blueviolet;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);}

@media (max-width: 450px){
    .cards{
        grid-template-columns: 1fr;
       
    }
}


@media (min-width: 450px) and (max-width: 850px){
    .cards{
        grid-template-columns: 1fr 1fr;
       
    }
}